/**
 * Data export result stylesheet
 *
 * @author Pierre HUBERT
 */

/**
 * Global rules
 */
.sidenav.sidenav-fixed {
	/*transform: unset;*/
	/*margin-top: 80px;*/
}

main {
	margin-left: 300px;
}

main .container {
	display: none;
}

h1 {
	font-size: 150%;
}


.account-image {
	width: 50px;
	vertical-align: middle;
	margin-right: 5px;
}



/**
 * User information rules
 */
.user-information-table td:first-child {
	font-weight: bold;
}

.background-image {
	max-width: 100px;
}


/**
 * Posts rules
 */
.post .post-metadata {
	font-style: italic;
	display: block;
	margin-top: 10px !important;
	margin-bottom: 10px !important;
}

.post .post-comments {
	margin-top: 40px;
}

.post .post-comments .comment {
	display: flex;
	align-items: center;
}

.post .post-comments .comment div {
	margin: 2px;
}

.post .post-comments .comment-author {
	font-weight: bold;
}

.post .post-comments .comment-metadata {
	font-size: 80%;
	font-style: italic;
}

.post .post-comments .comment .comment-image {
	max-width: 100px;
}

.post .post-btn-pdf {
	margin: auto;
	display: block;
	width: 100%;
	max-width: 150px;
}

.post .post-end-countdown {
	text-align: center;
}