/**
 * Data export result stylesheet
 *
 * @author Pierre HUBERT
 */

/**
 * Global rules
 */
.sidenav.sidenav-fixed {
	/*transform: unset;*/
	/*margin-top: 80px;*/
}

main {
	margin-left: 300px;
}

main .container {
	display: none;
}

h1 {
	font-size: 150%;
}


.account-image {
	width: 50px;
	vertical-align: middle;
	margin-right: 5px;
}



/**
 * User information rules
 */
.user-information-table td:first-child {
	font-weight: bold;
}

.background-image {
	max-width: 100px;
}