/**
 * Calls window stylesheet
 *
 * @author Pierre HUBERT
 */

#callsTarget {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0px;
	visibility: hidden;
	z-index: 1000;
}


.call-window {
	width: 300px;
	position: absolute;
	top: 100px;
	right: 10px;
	z-index: 100;
	border: 1px black solid;
	display: flex;
	flex-direction: column;
	background-color: #000000b3;
	visibility: visible;
}

.call-window .call-window-body{
	flex: 1;
	display: flex;
	max-height: calc(100% - 62px);
}


/**
 * Toolbar
 */
.call-toolbar {
	height: 20px;
	background-color: #000000b3;
	color: white;
	display: flex;
	align-items: center;
	padding-left: 10px;
}

.call-toolbar > i:first-child {
	margin-right: 6px;
}

.call-title {
	flex: 1;
}


/**
 * Loading message
 */
.loading-message-container {
	position: absolute;
	min-height: 112px;
	width: 100%;
	display: flex;
	background: 1px #0009;
	flex-direction: column;
	justify-content: space-around;
	text-align: center;
	font-size: 150%;
	color: white;
}


/**
 * Stream target
 */
.call-window .streams-target {
	flex: 1;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	max-width: 100%;
}

.call-window .streams-target video {
	flex: 1;
	flex-shrink: 1;
	max-height: 100%;
}


/**
 * Footer
 */
.call-window .call-footer {
	height: 40px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.call-window .call-footer .call-option-button {
	color: #fff6;
	flex: 1;
	text-align: center;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;	
}

.call-window .call-footer .call-option-button.selected {
	color: white;
}

.call-window .call-footer .call-option-button:hover {
	background-color: #ffffff4d;
}

.call-window .call-footer .call-option-button:active {
	background-color: #fff3;
}

.call-window .call-footer .call-option-button.hang-up-button {
	color: #dd4b39;
}


/**
 * Responsive mode
 */
@media screen and (max-width: 730px) {

	#callsTarget {
		z-index: 1030;
	}

	.streams-target {
		flex-direction: column !important;
	}

	.streams-target video {
		max-width: 100%;
	}

	.call-window {
		position: fixed;
		width: 100%;
		height: 100%;
		top: 0px !important;
		left: 0px !important;
	}

}