/**
 * Ring screen stylesheet
 *
 * @author Pierre HUBERT
 */

.ring-call-container {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0px;
	left: 0px;
	background-color: #011932e6;
	z-index: 1030;
	display: flex;
	justify-content: center;
	align-items: center;
}

.call-message-box {
	background-color: #fff6;
	color: white;
	padding: 10px;
	border-radius: 5px;
	min-width: 200px;
	text-align: center;
	font-size: 150%;
}

.ring-call-container .response-buttons {
	display: flex;
	justify-content: space-around;
}