<!-- Notifications section -->

<div class="box box-primary">
    <div class="box-header with-border">
        <h3 class="box-title">tr("Notifications")</h3>
    </div>
    <!-- /.box-header -->
    <!-- form start -->
    
    <div class="box-body">

        <h4>tr("Web application")</h4>

        <p>tr("Note: These parameters applies only for the web version of the application!")</p>

        <div class="form-group">
            <label>
                <input name="allow_sounds" type="checkbox" v-model="allow_sounds"> tr("Allow sound for notifications")
            </label>
        </div>

        <p>&nbsp;&nbsp;&nbsp;</p>


        <h4>tr("Push notifications")</h4>
        <p>tr("Note: These parameters applies only for the mobile version of the application!")</p>
        
        <div class="form-group">
            <label>
                <input name="allow_conversations" type="checkbox" v-model="allow_conversations"> tr("Allow conversation notifications")
            </label>
        </div>
    </div>
    <!-- /.box-body -->
    
    <div class="box-footer">
        <button type="submit" class="btn btn-primary" @click="update">tr("Update")</button>
    </div>
</div>