/**
 * Menubar stylesheet
 *
 * @author Pierre HUBERT
 */

/**
 * adminLTE fixes
 */
@media (max-width: 767px) {
 	.fixed .content-wrapper {
		padding-top: 50px !important;
	}
}

/**
 * Authenticated users
 */
header .dropdown .fa-gear {
	vertical-align: middle;
}

.main-header .alternate-latest-posts-button {
	display: none;
}

@media (max-width: 360px) {
	.main-header[forActiveUser="true"] .navbar-brand {
		display: none;
	}

	.main-header .alternate-latest-posts-button {
		display: block;
	}

	.nav > li > a {
		padding: 10px 10px;
	}

	.navbar-custom-menu > .navbar-nav > li > .dropdown-menu {
		width: 100%;
		left: 0px;
	}
}

@media (max-width: 767px) {
  .skin-blue .main-header .navbar .dropdown-user-menu-action .dropdown-menu li a {
    color: #333 !important;
  }
}


/**
 * Not authenticated users
 */

/**
 * Login form
 */
.menubar-loginForm .form-control {
	margin-right: 1px;
}