/**
 * Groups header
 *
 * @author Pierre HUBERT
 */


.group-header .group-icon {
    max-height: 150px;
}

.group-header .group-name {
    font-size: 200%;
}

.group-header .group-tag {
    color: #6f737b;
}

.group-header .col-info .fa,
.group-header .col-metadata .fa {
    margin-right: 10px;
    width: 10px;
}

.group-header .group-col-icon {
    text-align: center;
}

.group-header .group-col-icon span {
    display: block;
}

.group-header .col-md-4 {
    display: table;
    margin: auto;
}

.group-header .box-body {
    display: flex;
}

.group-header .box-body .spacer {
    flex: 2;
}


.group-header .box-body .col-metadata {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: center;
    min-width: 160px;
}